/* Web Font: Yekan */
@font-face {
	font-family: yekan;
	src: url('../../fonts/Yekan.eot'); /* IE9 Compatibility Modes */
	src: url('../../fonts/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/Yekan.woff2') format('woff2'), /* Modern Browsers */
	url('../../fonts/Yekan.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/Yekan.otf') format('opentype'), /* Open Type Font */
	url('../../fonts/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

body,
body.rtl,
button,
input,
select,
textarea,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
keygen,
blockquote cite,
blockquote small,
table th,
table caption,
table td,
pre {
	font-family: yekan, tahoma, verdana, arial, helvetica, sans-serif;
}

#tinymce,
.mce-ico,
.mejs-container .mejs-controls div,
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label,
.mejs-contextmenu .mejs-contextmenu-item,
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label,
.mejs-controls .mejs-speed-button .mejs-speed-selector ul li label,
.mce-window .wp-editor-help kbd,
.mce-item-table td,
.mce-item-table th,
.rtl .quicktags-toolbar input,
.wp-caption,
.gallery .gallery-caption {
	font-family: yekan, tahoma, verdana, arial, helvetica, sans-serif !important;
}
